/*! Переполнение текста*/
.class {
	/* width: ;  */   	 /* ОБЯЗАТЕЛЬНО, иначе не обрежет*/
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/*! Оболочка для любого сайта (позвляет убрать горизонтальный скрол и 
работать с отицательными отступами)*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
}	

/* !Рекомендует так делать, чтобы если попадет большая картинка - 		
она адаптировалась + добавляем в див min-width: ; */
/* __items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
__item {
	flex: 0 1 16.666%;
	padding: 8px 15px;  // отняли от верхнего отступа у блока 
						   и добавили отступ безопастности картинкам (чтобы не прилипали)
	min-width: 140px; 
	text-align: center;
}
__item img{
	max-width: 100%; 
} */