
/*!===Оболочка для того, чтобы не было горизонтального скрола=====================================================================*/
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden; 	
}
.page {
	flex: 1 1 auto;  	 /*контент прижимает футер к низу страницы*/
}
/*=============ТЕХНИЧЕСКИЕ КЛАССЫ===========================================================*/
._container {
	/* max-width: 1046px; */
	margin: 0 auto;
	padding: 0 15px;     /* отступ безопастности, чтобы не прилипал контент к краям*/
	box-sizing: content-box;   /* чтобы padding  не входит в размер огр. контейнера*/
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
._button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
/*--------------------------------------------------------*/
/*! Переполнение текста*/
.class {
	/* width: ;  */   	 /* ОБЯЗАТЕЛЬНО, иначе не обрежет*/
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/*! Оболочка для любого сайта (позвляет убрать горизонтальный скрол и 
работать с отицательными отступами)*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
}	

/* !Рекомендует так делать, чтобы если попадет большая картинка - 		
она адаптировалась + добавляем в див min-width: ; */
/* __items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
__item {
	flex: 0 1 16.666%;
	padding: 8px 15px;  // отняли от верхнего отступа у блока 
						   и добавили отступ безопастности картинкам (чтобы не прилипали)
	min-width: 140px; 
	text-align: center;
}
__item img{
	max-width: 100%; 
} */